/*Color palette*/
:root {
    --accent-color: #83a9f0;
    --code-color: #83a9f0;
    --accent-color-dark: #6586c4;
    --background-color: #31353f;
    --text-color: #fff;
    --selection-text-color: #fff;
    --background-accent-color: #ffffff0f;  
    --scrollbar-background: var(--background-color);
    --scrollbar-thumb-background: #ffffff3f;
}

@media (prefers-color-scheme: light) {
    :root {
        --accent-color: #ff6c5c;
        --code-color: #ff6c5c;
        --accent-color-dark: #d33e2d;
        --background-color: #ffffff;
        --text-color: rgb(0, 0, 0);
        --selection-text-color: #fff;
        --background-accent-color: #ff6c5c15;
        --scrollbar-background: var(--background-color);
        --scrollbar-thumb-background: #00000046;
    }
}

::-webkit-scrollbar {
    width: 15px;
    background-color: var(--scrollbar-background);
}
::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-background);
}

::selection {
    background: var(--accent-color);
    color: var(--selection-text-color);
}

body {
    font-family: 'Roboto';
    background: var(--background-color) !important;
}

p, h1, h2, h3, h4, h5, h6, code, ul, ol, li, div, em, hr {
    color: var(--text-color);
}

hr {
    color: #fff !important;
}

#menu {
    padding: 0.5rem 0.9rem;
    margin-bottom: 20px;
}

    #menu .navbar-brand {
        color: var(--text-color);
        font-weight: 800;
        font-family: 'Roboto';
        margin-bottom: 1px;
    }

    #menu .navbar-toggler {
        border: none;
        padding: 0;
        font-size: 20px;
        color: var(--text-color);
        box-shadow: none;
    }

        #menu .navbar-toggler:focus {
            color: var(--text-color);
        }

    #menu .nav-link {
        color: var(--text-color);
        font-family: 'Roboto';
    }

#bottombar p {
    padding: 10px;
    color: var(--text-color);
    opacity: 0.5;
}

.layout a {
    color: var(--accent-color);
}

    .layout a:hover {
        color: var(--accent-color-dark);
    }

    body code {
        color: var(--code-color);
    }

.page-body {
    font-family: 'Roboto';
}

    .page-body code {
        padding: 2px 6px 2px 6px;
        border-radius: 5px;
    }

    .page-body pre {
        padding: 10px;
        border-radius: 5px;
    }

        .page-body pre code {
            padding: 0;
        }

.page-body em {
    font-weight: normal;
    opacity: 0.9;
}

@media screen and (max-width: 770px) {
    .page-body img {
        width: 100%;
    }
}
@media screen and (min-width: 770px) {
    .page-body img {
        width: 60%;
    }
}
