<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @if(!String.IsNullOrWhiteSpace(ViewData["Title"] as string))
    {
        <title>@Program.config.AppName - @ViewData["Title"]</title>
    }
    else
    {
        <title>@Program.config.AppName</title>
    }
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:500,700i,900&amp;subset=cyrillic,cyrillic-ext&amp;display=swap">
    <link rel="stylesheet" href="~/assets/fonts/font-awesome.min.css" />
    <link rel="stylesheet" href="~/assets/css/styles.css" />
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css" />
</head>
<body class="layout">
    <header>
        @await Html.PartialAsync("_Header")
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-12 page-body">
                @RenderBody()
            </div>
        </div>
    </div>
    <footer id="bottombar">
        <p class="text-center">Powered by&nbsp;<a href="//github.com/the1mason/mdpost">mdpost</a></p>
    </footer>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
